@media only screen and (max-width: 1199px){
    .content_text .heading{
        position: relative; right: 10rem;
    }
    img.content_img {
        position: relative; bottom: -12rem; width: 376px;
    }
    /* CONTACT US START */
    .Contact_title .Title h1 {
        font-size: 5rem;
    }
    .Contact_title .Title p{
        font-size: 20px;
    }
    .contact_form .form_content{
        max-width: 600%; padding-left: 0; padding-right: 0; position: relative; right: 3rem;
    }
    section.contact_form {
        padding: 2rem 0;
    }
    section.contact_form .form {
        max-width: 600%;
    }
    section.contact_form form {
        width: 130%;
    }
    section.contact_form .row_2 {
        padding: 0 1rem;
    }
    .Title_p {width: 50%; position: relative; left: 15rem;}
    /* CONTACT US END */
}

@media only screen and (max-width: 992px){
    h1.headline_h1 {
        font-size: 5rem; line-height: 5rem; font-weight: 500;
    }
    img.content_img {
        position: relative; top: 4rem; width: 700px;
    }
    h1.section-heading {
        font-size: 40px;
    }
    .part_right{
    position: relative; right: 4rem; padding-top: 2rem;
    }
    .part_right .part_content {
        width: 100%; position: relative;left: 4rem;
    }
    .second .btn-outline-dark{
        position: relative; left: 1rem;
    }
    .quote-content {
        position: absolute; left: 31px;
    }
    .container.quote-bg .signature img {
        position: absolute; left: 4px;
    }
    .Company h1 {
        font-size: 2rem; font-weight: 500; padding-bottom: 2rem;
    }
    .Company p{
        font-size: 1.3rem;
    }
    .freequotes img{
        position: relative; bottom: 8rem;
    }
    .freequotes .title ,.btn-outline-dark{
        position: relative; right: 0rem;
    }
    .freequotes .title h1 {
        font-weight: 400; font-size: 2.5rem; padding-bottom: 2rem;
    }
    .freequotes .title .p_1 {
        padding-bottom: 1rem; font-size: 1.3rem;
    }
    .social-link a{
        margin-right: 1rem;
    }
    .social h1 {
        font-size: 2rem; font-weight: 400; position: relative; top: -4rem; right: 0; width: 114%;
    }
    .social input.mail {
        position: relative; top: -2rem;
    }
    .social button.btn.btn-subscribe {
        position: relative; bottom: -2rem; right: 26.1rem; padding: 11px 20px;
    }
    .social_media {
        padding: 3rem 2rem;
    }
    .social .heading {
        padding-left: -16rem; padding-top: 4rem;
    }
    input[type="email"] {
        padding: 12px 10px; width: 60%;
    }
    footer{
        height: 100px;
    }
    footer .left{
        display: inline;
    }
    footer .right{
        position: relative; bottom: -12px; right: -12px;
    }
    footer .right a {
        padding-right: 2rem;
    }
    /* CONTACT US START */
    .Contact_title .Title h1 {
        font-size: 3rem;
    }
    section.contact_form .form{
        position: relative; right: 7rem;
    }
    section.contact_form form {
        width: 200%;
        max-width: 700px;
    }
    section.contact_form .form_content p{
        margin-bottom: 3rem;
    }
    section.contact_form .contact_1 {
        padding-bottom: 8rem;
    }
    .Title_p {width: 109%; position: relative; left: -2rem;}
    .Contact_title .Title p {
        font-size: 22px;
    }
    /* CONTACT US END */
}

@media only screen and (max-width: 767px){
   .content_text h5{
       font-size: 0.9rem; padding-bottom: 1rem;
   }
   h1.headline_h1 {
    font-size: 3rem; line-height: 3rem; font-weight: 400; padding-bottom: 2rem;
    }
    h1.section-heading {
        font-size: 25px; font-weight: 400; padding-bottom: 1rem;
    }
    p.second_p {
        font-size: 0.9rem; padding-bottom: 1rem;
    }
    .container.part_1 .part_img {
        width: 200%; position: relative; right: -12px;
    }
    .part_right .part_content {
        width: 190%; position: relative; left: auto;
    }
    .col.col-lg-6.col-md-12.part_right {
        padding-top: 22rem; position: relative; right: 166px;
    }
    .part_right h1 {
        font-size: 2rem; font-weight: 400; padding-bottom: 1rem;
    }
    .part_right p {
        font-family: 'Satisfy', cursive; font-size: 1.2rem; padding-bottom: 1rem; line-height: 26px;
    }
    .part_right ul {
        padding-bottom: 1rem;
    }
    .part_right li {
        padding: 2px 0;
    }
    button.btn.btn-outline-dark {
        padding: 10px 15px; font-weight: 700;
    }
    .container.quote-bg p{
        font-size: 36px;
    }
    .freequote .freequote_img {
        width: 190%; position: absolute; top: -6rem;
    }
    .freequote .title {
        position: relative; right: 11rem; top: 15rem; width: 215%; height: auto;
    }
    .freequote .title h1 {
        font-weight: 400; font-size: 2rem; padding-bottom: 1.2rem;
    }
    .freequote .title .p_1 {
        padding-bottom: 0.8rem; font-size: 1.2rem; line-height: 1.5rem;
    }
    .freequote .title .p_2 {
        padding-bottom: 16rem; font-size: 0.9rem; font-weight: 700;
    }
    .freequote button.btn.btn-outline-dark {
        padding: 10px 15px; font-weight: 700; position: relative; bottom: 14rem;
    }
    .social.heading {
        padding-left: 12rem;  padding-top: 2rem; width: 550px;
    }
    .social .heading h1 {
        font-size: 3rem; font-weight: 300; position: relative; top: -4rem; left: 0.5rem; padding-bottom: 1rem;
    }
    .social .subscribe {
        position: relative; left: 0;
    }
    .social button.btn.btn-subscribe {
        position: relative; bottom: 1.5rem; left: 0;
    }
    footer .right {
        position: relative; right: 0; padding-top: 6px;
    }
    footer .left{
        display: inline;
    }
    .social input[type="email"] {
        width: 90%;
    }
    .social .row_3 {
        position: relative;
        bottom: -4rem;
        display: inline-block;
    }
    /* CONTACT US START */
    .Contact_title .Title h1 {
        font-size: 2.5rem;
    }
    .Title_p {width: 100%;
        position: relative;
        left: 0rem;
    }
    .contact_form .row_1 {
        padding-bottom: 6rem;
        padding-left: 3rem;
        padding-right: 2rem;
    }
    .contact_form .form_content {
        position: relative;
        right: 0;
    }
    section.contact_form .form {
        position: relative;
        right: 6rem;
    }
    section.contact_form .row_2 {
        padding: 00;
        display: contents;
    }
    /* CONTACT US END */
}

