/*RESET CSS START*/
ul{list-style-type: none;padding: 0;margin: 0;text-decoration: none;}
a{text-decoration: none;}
h1,h2,h3,h5,h6,body,p,input,span,form,header,figure,label,strong,bold{margin: 0;font-weight: normal;}
*{box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-moz-box-sizing: border-box;}
img{max-width: 100%;}
/*body{font-family: 'Signika Negative', sans-serif;font-family: 'Permanent Marker', cursive;}*/
::-webkit-input-placeholder {opacity: 1; } ::-moz-placeholder {opacity: 1; } :-ms-input-placeholder {opacity: 1; } :-moz-placeholder {opacity: 1;}
::-webkit-input-placeholder {color: #555;} ::-moz-placeholder {color: #555;} :-ms-input-placeholder {color: #555;} :-moz-placeholder {color: #555;}
::-webkit-textarea-placeholder{font-size: 18px;}
.search-box input[type="search"]::-webkit-input-placeholder{font-size: 20px;color: #fff;}
.search-box input[type="search"]::-moz-placeholder{font-size: 20px;color: #fff;}
address{font-style: normal;}
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
option {font-weight: normal; display: block; white-space: pre; min-height: 1.2em; padding: 0px 2px 1px; }
.nav>li>a:focus, .nav>li>a:hover{background-color: #fff;}
.navbar-collapse{border: none !important;box-shadow: none !important;}
:focus {outline: none;}
.form-control:focus{box-shadow: none;}
a:hover{text-decoration: none;}
address{margin-bottom: 0;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: transparent;}
.btn.focus, .btn:focus, .btn:hover {color: #fff;text-decoration: none;border-color: transparent;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: none;}
a:focus{outline: none;outline-offset: 0;}
a:focus, a:hover{text-decoration: none;}
.section-padding-bottom{padding-bottom: 70px;}
a{ text-decoration: none;}
/*RESET CSS END*/

/* COMMON CSS START */
.full-width{float: left;width: 100%;}
.auto-width{float: left;}
h1,h2,h3,h4,h5,h6,p{float: left;width: 100%;}
a{text-decoration: none;}
.header-menu li a,.fixed-header,.products:hover .product-hover,.product-hover,.banner-btn .btn{transition: all 0.4s ease-in-out;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;}
.fixed{/*background-color: #fff;*/background: rgba(0, 0, 0, 0.5); position: fixed;z-index: 111;}
.bg-white{background-color: #fff;}
.box-shadow{-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);}
.text-capitalize{text-transform: uppercase;}
h1{font-size: 47px;line-height: 55px;margin-bottom: 30px;color: #888;font-weight: 800;font-family: 'Spartan', sans-serif;}
p{color: #7b838a;font-size: 16px;line-height: 25px;font-weight: 400;font-family: 'Spartan', sans-serif;}
h2{color: #002347;font-size: 40px;line-height: 45px;font-weight: 800;font-family: 'Spartan', sans-serif;}
h4{font-size: 20px;line-height: 30px;margin: 0;color: #002347;font-weight: 600;font-family: 'Spartan', sans-serif;}
h3{font-weight: 800;color: #002347;font-size: 24px;line-height: 30px;margin-bottom: 15px;font-family: 'Spartan', sans-serif;}
.main-title{text-align: center;margin-bottom: 20px;}
::selection,-moz-selection,-webkit-selection,-ms-selection,-moz-selection,-o-selection{background-color: #002347;color: #fdc632;}
.form-control:focus{border-color: #ccc;}
.center{text-align: center;}
.box-shadow1{-moz-box-shadow: rgba(0, 0,0, 0.8) 12px 4px 10px 4px;-webkit-box-shadow: rgba(0, 0,0, 0.8) 12px 4px 10px 4px;box-shadow: rgba(0, 0,0, 0.8) 12px 4px 10px 4px;}
.submit-btn{transition: all 0.4s ease-in-out;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;}
.mb-10{margin-bottom: 10px;}
.center{text-align: center;}
.section-padding{padding: 70px 0;}
.box-shadow1{-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);-moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);}
/*h3{position: relative;padding-bottom: 5px;}*/
/*h3::after{position: absolute;content: '';left: 0;bottom: 0;border: 1px solid #000;display: inline-block;width: 50px;}*/
.sub-title{margin-bottom: 20px;}
.sub-title h2{position: relative;padding-bottom: 5px;width: auto;float: none;display: inline-block;}
.sub-title h2::after{position: absolute;content: '';left: 0;bottom: 0;border: 1px solid #000;display: inline-block;width: 50px;}
.inner-banner{min-height: 500px !important;}
.inner-banner .banner-content{padding: 130px 0 !important;}
.inner-banner .banner-content h1{color: #002347 !important;}
.inner-banner .banner-content p{margin-bottom: 0 !important;}
.section-padding{padding: 100px 0;}
.man-title{margin-bottom: 20px;}
.padding-bottom{padding-bottom: 60px;}

/* COMMON CSS END */
/* HEADER START*/

.navbar-brand img{
    height: 80px; width: auto;
}
li.nav-item {
    padding-right: 30px;
}
a.nav-link {
    color: white;
}
.nav-link {
    display: block;padding: .5rem 1rem;color: #000000;
}
ul.dropdown-menu.sub-menu.pg {
    width: auto;height: 12rem;position: absolute;left: -27rem;padding: 12px;
}
hr {
    position: absolute;height: -10px;width: 80%;top: 12px;
}
button.btn.btn-contact {
    background-color: #1a1818;color: white;border-radius: 3px;font-weight: 600; transition: all 0.5s ease-in ; position: relative; overflow: hidden;
}
button.btn.btn-contact:hover{
    color: black; background-color: #fff; box-shadow: 5px 10px 8px #888888;transform: translateY(-3px);
}
button.btn.btn-contact a{
    text-decoration: none; color: #fff;transition: all 0.5s ease-in;
}
button.btn.btn-contact a:hover{
    color: #000000;
}
ul.dropdown-menu.sub-menu.element.element {
    height: 16rem; width: auto; position: absolute; left: -31rem; padding: 12px;
}
/* HEADER END */

/* CONTACT_TITLE START */
.Contact_title{
   background-image: url(../images/contact1.jpg); background-position: 50% 0px ;background-attachment: fixed; background-size: cover;
    text-align: center; color: #fff; background-size: cover;
}
.Title {
    padding: 16rem 0;
}
.Title h1{
    font-size: 6rem; padding-bottom: 6rem; position: relative; top: -4rem;
}
.Title p{
    font-size: 25px; color: #fff; line-height: 15px; position: relative; top: -9rem;
}
/* CONTACT_TITLE END */

/* FORM START */
section.contact_form {
    padding: 8rem 0;
}
.contact_form .row_1{
    padding-bottom: 6rem;
}
.form_content {
    max-width: 200%; padding-left: 10rem; padding-right: 10rem;
}
.row_1{
    padding: 5rem;
}
.row_2{
    padding: 0 10rem;
}
section.contact_form .form {
    max-width: 200%; padding-left: 3rem; padding-right: 3rem;
}
section.contact_form .form_content span{
    font-size: 15px;
}
section.contact_form .form_content h1{
    padding-bottom: 2rem;
}
section.contact_form form{
    width: 90%; max-width: 600px;
}
.contact_1,.address,.follow h4{
    padding-bottom: 1rem; color: rgb(100, 100, 100);
}
.row_2 .contact_1 h1{
    color: #313131;
}
.row_2 .follow .link a{
    color: #313131; margin-right: 20px; font-size: 25px; transition: all 0.3s ease-in-out; 
}
.row_2 .follow .link a:hover{
    color: teal; transform: translateY(-3px)
}
/* .contact_form form{ */
    /* display: flex; align-items: center; justify-content: center; */
/* } */
.input_group{
    margin-bottom: 25px; position: relative;
}
input,textarea{
    width: 100%; padding: 5px 10px; outline: 0; border: 5px solid rgb(231, 231, 231); color: #000000; background: #e4e4e4; font-size: 15px;
}
label{
    height: 100%; position: absolute; left: 0; top: 0; padding: 10px; color: #6b6b6b; cursor: text; transition: 0.3s;
}
section.contact_form button{
    padding: 15px 0; color: #fff; outline: none; background: #1a1818; width: 100%; cursor: pointer; border: 2px solid; border-radius: 5px; transition: all 0.5s ease-in-out;
}
input:focus~label, input:valid~label,textarea:focus~label,textarea:valid~label{
    top: -35px; font-size: 15px; color: teal;
}
section.contact_form button:hover{
    transform: translateY(-3px); background: transparent; border: 1px solid teal; color: teal;
}
label:hover{
    color: teal;
} 
/* FORM END */

/* SOCIAL MEDIA START */
section.social{
    padding: 7rem 0; background: rgb(19, 19, 19); color: #fff;
}
.form-title {
    display: flex;
    padding-bottom: 2rem;
}
.form-title h1{
    font-weight: 300;
}
input[type="email"] {
    padding: 11px 11px; width: 70%; border: none; background: #fff;
}
button.btn.btn-subscribe {
    background-color: #fff; padding: 10px 20px; border-radius: 0; position: absolute; color: rgb(98, 99, 98); font-weight: 400; z-index: 1; transition: color 0.5s;
}
button.btn.btn-subscribe span{
    width: 0; height: 100%; position: absolute; top: 0; left: 0; background: rgb(49, 49, 49); z-index: -1; transition: 0.5s;
}
button.btn.btn-subscribe:hover span{
    width: 100%;
}
button.btn.btn-subscribe:hover{
    color: rgb(138, 138, 138); border: none;
}
.social_media {
    padding: 0 10rem; padding-top: 2rem;
}
.social_media .part_1 img ,h5{
    padding-bottom: 1.5rem;
}
.social_media .part_1 li{
    padding-bottom: 7px; font-weight: 300;
}
.social_media .part_1 a{
    color: #fff;
}
.social_media .part_1 a:hover{
    text-decoration: none; color: #7b838a;
}
.social_media .part_1 a .icon-1{
    margin-right: 15px;
}
.social-link a{
    padding-right: rem; color: #fff; transition: all 0.2s ease-in ; position: relative; overflow: hidden; margin-right: 1.5rem; font-size: 25px;
}
.social-link a:hover{
    transform: translateY(-5px); color: teal;
}
.social_media p {
    padding-top: 2rem; font-size: 14px; font-weight: 600; color: #fff;
}
.social .row_3{
    position: relative;
    bottom: -4rem;
}
/* SOCIAL MEDIA END */

/* FOOTER START */
footer{
    padding: 1rem 0; text-align: center; background: rgb(19, 19, 19);
}
footer .left{
    color: whitesmoke; display: flex;
}
 footer .right {
    position: absolute; right: 13rem;
}
footer .right a{
    padding-right: 1px;
}
footer .right a {
    padding-right: 15px; color: #fff;
}
/* FOOTER END */